        body {
            margin: 0;
            padding: 0;
        }
        
        @media (max-width: 640px) {
            body {
                background-image: url(../img/SplashScreen.png);
                position: relative;
                width: 360px;
                height: 640px;
            }
        }